# Core Data Manipulation and Scientific Computing
numpy==1.24.3
pandas==2.0.1
polars==0.20.1

# Machine Learning Libraries
scikit-learn==1.2.2
lightgbm==4.1.0


# Optimization
optuna==3.3.0

# Interpretability and Explainability
shap==0.42.1

# Data Visualization
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.14.1


# Other Utilities
tqdm==4.65.0
requests==2.30.0
pyarrow==12.0.1

# Model Tracking and Versioning
mlflow==2.3.2

# Optional but Recommended
python-dotenv==1.0.0